[submodule "src/ui/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "src/plugins/datasette/nfdx"]
	path = lib/nfdx
	url = https://github.com/btzy/nativefiledialog-extended.git
